<section class='box' style="font-style: italic">
  <div class="well" style="padding-left:16px;">
  <h4><%= profile.name %> <small>(<%= profile.city %><% if profile.state_code && profile.city %><%= profile.city_state %> <%= profile.state_code %><% end %>)</small></h4>
    <blockquote><p>"<%= reason_for_supporting %>"</p></blockquote></div>
</section>
