<!-- partial start: components/messages/deleted_campaign_or_event -->
<div class='pastelBox--orange u-marginTop--15 u-padding--10'>
  <!--= show_if <%= type %>_is_deleted -->
  <p class='u-margin--0'>
    This <%= type %> has been marked as deleted and will only be accessible to <%= type %> editors.  You can undelete this <%= type %> from your <%= type %> settings.
  </p>
</div>
<!-- partial end: components/messages/deleted_campaign_or_event -->
