<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<%= content_for :stylesheets do %>
<%= stylesheet_link_tag 'nonprofits/recurring_donations/index/page' %>
<% end %>
<%= content_for :recaptcha_js do %>
	<script src="https://www.recaptcha.net/recaptcha/enterprise.js?render=<%= ENV['RECAPTCHA_SITE_KEY'] %> "></script>
<% end %>

<% content_for(:footer_hidden) {'hidden'} %>

<%= content_for :javascripts do %>
	<script>
				var recurringSupporterPaymentCard = stripeV3.elements({fonts: [
            { cssSrc: "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" }
        ]
      }).create('card', {
        style: {
            base: {
                color: '#494949',
                fontFamily: "'Open Sans', 'Helvetica Neue', Arial, Verdana, 'Droid Sans', sans-serif",
                fontSmoothing: 'antialiased',
                fontSize: '16px'
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
		},
		hidePostalCode: true
		});
				recurringSupporterPaymentCard.mount("#recurringSupporterPaymentCard")
		</script>
	<%= IncludeAsset.js '/client/js/nonprofits/recurring_donations/index/page.js' %>
	<script>

	app.nonprofit.feeStructure = <%= raw  @nonprofit.fee_coverage_details_with_json_safe_keys.to_json %>
	</script>
<% end %>

<%= render 'nonprofits/transaction_title',
	active: :recurring,
	icon_class: 'icon-return',
	page_name:'Recurring' %>

<%= render 'table_meta' %>

<div class='panelsLayout container--wide'>
	<!--= scope 'recurring_donations' -->
	<section class='panelsLayout-body'>
		<%= render 'main_panel' %>
		<%= render 'side_panel' %>
    <%= render 'components/side_panel_close' %>
	</section>
</div>

<div class='js-flimflamContainer'></div>

<%= render 'export_recurring_donations_s3_modal' %>

<%= render 'recurring_donations/new_modal' %>
<%= render 'recurring_donations/edit_modal' %>
