<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial profiles/_profile_tabs.html.erb -->
<%# needs a profile_id %>
<% url = '/profiles/' + profile_id.to_s %>

<div class='pageTabs'>

	<a href='<%= url %>'
		class="<%= active == :profile && 'is-active' %>">
		Profile
	</a>

	<a href='<%= url %>/donations_history'
		class="<%= active == :donations && 'is-active' %>">
		Donations
	</a>

	<a href='<%= url %>/fundraisers'
		class="<%= active == :fundraisers && 'is-active' %>">
		Fundraisers
	</a>
</div>
<!-- end partial profiles/_profile_tabs.html.erb -->
