<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<section class='press-row'>
  <div class='container'>
    <img src='<%= asset_path 'logos/forbes.png' %>' class='press-image'>
    <img src='<%= asset_path 'logos/npq.png' %>' class='press-image'>
    <img src='<%= asset_path 'logos/next-in-nonprofits.png' %>' class='press-image'>
    <img src='<%= asset_path 'logos/my-social-good-news.png' %>' class='press-image'>
    <img src='<%= asset_path 'logos/crowdfund-insider.png' %>' class='press-image'>
  </div>
</section>

