<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<!-- partial: components/filter_input -->
<% amount ||= false %>
<% subtitle ||= false %>
<% placeholder ||= false %>
<% event ||= 'change' %>

<fieldset class='u-margin--0'>
	<% if subtitle %><label><small><%= subtitle %></small></label><% end %>
	<div class="u-relative <%= amount ? 'prepend--dollar' : nil %>">
		<input  type="text" class='u-margin--0' name="<%= name %>" placeholder="<%= placeholder ? placeholder : nil %>">
		<!--= on '<%=event%>' (apply_input_filter '<%=name%>' get_value -->
		<i class='fa fa-times clear-input'></i>
	</div>
</fieldset>
<!-- partial end: components/filter_input -->
