<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div class='modal' id='newBankModal'>
	<!--= scope 'new_bank' -->

	<%= render 'common/modal_header', title: 'Connect a Bank Account' %>

	<div class='modal-body'>

		<p><%= t('nonprofits.page.bank_accounts.modal.payout_instruction') %></p>

		<p><%= t('nonprofits.page.bank_accounts.modal.allow_deposits') %></p>

		<form id='bank-account-form' parsley-validate>
			<!--= on 'submit' (create_bank_account form_object) -->

			<input type='hidden' name='country' value='US'>
			<input type='hidden' name='currency' value='USD'>

			<div class='fields'>
				<div class='field'>
					<label><%= t('nonprofits.page.bank_accounts.modal.account_holder_label') %></label>
					<input name='name' required parsley-trigger='change'></input>
				</div>
				<div class='field'>
					<label><%= t('nonprofits.page.bank_accounts.modal.rounting_number_label') %></label>
					<input name='routing_number' required parsley-type='number' parsley-trigger='change' parsley-rangelength='[9,9]' parsley-rangelength-message='This must be exactly 9 digits long'></input>
				</div>
				<div class='field'>
					<label><%= t('nonprofits.page.bank_accounts.modal.account_number_label') %></label>
					<input name='account_number' required parsley-type='number' parsley-trigger='change'></input>
				</div>
				<div class='field'>
					<label>
						<%= t('nonprofits.page.bank_accounts.modal.your_houdini_password', houdini_general_name: Houdini.general.name) %><br>
						<small><%= t('nonprofits.page.bank_accounts.modal.to_confirm_change') %></small>
					</label>
					<input name='user_password' required type='password' parsley-trigger='change'></input>
				</div>
			</div>

			<%= image_tag 'graphics/bank-account-helper.png' %>

			<div class='bankAccountModal-footer'>
				<p class='note'><i class='fa fa-lock'></i> All data is 256-bit secured with <a href='https://stripe.com/help/security' target='_blank'>Stripe</a>.</p>
				<%= render 'components/forms/submit_button', button_text: 'Submit', loading_text: 'Processing...', scope: 'new_bank_account' %>
			</div>

		</form>


	</div>

</div>