<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div class='container'>

	<h2><%= t('nonprofits.page.bank_accounts.cancellation.cancel_bank_account') %></h2>

	<% if @bank_account.nil? %>
		<p><%= t('nonprofits.page.bank_accounts.cancellation.no_bank_account_label') %></p>

	<% elsif @bank_account.pending %>
		<%= render 'bank_account_info' %>

		<%= form_tag(cancel_nonprofit_nonprofit_bank_account_path(@nonprofit) ) do %>
			<%= hidden_field_tag :token, params[:t] %>
			<%= submit_tag 'Cancel', :class => 'btn btn-large' %>
		<% end %>
	<% else %>
		<p><%= t('nonprofits.page.bank_accounts.cancellation.bank_account_not_confirmed_label') %></p>
	<% end %>

	<p><%= t('nonprofits.page.bank_accounts.cancellation.contact_label') %> <%= mail_to Houdini.hoster.support_email %></p>
</div>