<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% content_for(:dont_load_optimizely) {'true'} %>
<% content_for(:footer_hidden) {'hidden'} %>

<% content_for :stylesheets do %>
			<%= stylesheet_link_tag 'nonprofits/payments/index/page' %>
<% end %>

<% content_for :javascripts do %>


	<%= javascript_packs_with_chunks_tag 'i18n', 'page__nonprofits__payments__index', 'edit_payment_pane' %>
	<script>
		appl.def('has_bank', <%= !!@nonprofit.bank_account %>)
	</script>
  <script>
    appl.def('open_donation_modal', function(payment_details) {

      function SetupLoadReactEditPaymentPane(modalActive){
        LoadReactEditPaymentPane(document.getElementById('EditPaymentPaneElement'),
          payment_details.data,
          appl.campaigns.data,
          appl.events.data,
          () => {SetupLoadReactEditPaymentPane(false)},
          modalActive,
          appl.start_loading,
          appl.update_donation__success,
          ENV.nonprofitTimezone)
      }

      SetupLoadReactEditPaymentPane(true)


      return appl
    })

  </script>
<% end %>

<%= render 'nonprofits/transaction_title',
	active: :payments,
	icon_class: 'icon-piggy-bank',
	page_name: 'History' %>

<%= render 'table_meta' %>

<main class='panelsLayout container--wide'>
	<section class='panelsLayout-body'>
		<%= render 'filter_panel' %>
		<%= render 'main_panel' %>
		<%= render 'side_panel' %>
		<%= render 'components/side_panel_close' %>
		<%= render 'components/tables/filtering/filter_panel_close' %>
	</section>
</main>

<%= render 'export_payments_s3_modal' %>
<%= render 'refunds/new_modal' %>
<%= render 'donations/edit_modal' %>
