<% content_for(:title) { 'Checking Stripe Verification' } %>
<% content_for :javascripts do %>
  <%= IncludeAsset.js '/app/stripe_verification_confirmx.js' %>
<% end %>

<div id="outlet"></div>

<script>
<% if params[:return_location] -%>
  const return_location = '<%= params[:return_location] %>';
<% else -%>
  const return_location = null;
<% end -%>

<% if @current_nonprofit.timezone %>
  const nonprofit_timezone = '<%= @current_nonprofit.timezone %>';
 <% else -%>
  const nonprofit_timezone = null;
<% end -%> 

LoadReactPage(document.getElementById('outlet'), <%= @current_nonprofit.id %>,
'<%= dashboard_nonprofit_url @current_nonprofit  -%>',
'<%= nonprofits_payouts_url @current_nonprofit  -%>', return_location, nonprofit_timezone)</script>