<% content_for(:title) { 'Stripe Verification' } %>
<% content_for :javascripts do %>
  <%= IncludeAsset.js '/app/stripe_account_verificationx.js' %>
<% end %>

<% content_for :stylesheets do %>
 <style>
ul {list-style-type: disc;}
ul ul {list-style-type: circle;}
</style> 

<% end %>

<div id="outlet"></div>


<%= javascript_tag  do -%>

<% if params[:return_location] -%>
  const return_location = '<%= params[:return_location] %>';
<% else -%>
  const return_location = null;
<% end -%>

LoadReactPage(
  document.getElementById('outlet'), 
  <%= @current_nonprofit.id -%>, 
  '<%= dashboard_nonprofit_url @current_nonprofit  -%>',
  '<%= nonprofits_payouts_url @current_nonprofit  -%>',
  return_location
  )
<% end -%>