<!-- partial campaigns/new-modal -->
<!-- include 'campaigns/new/index' -->

<div class='modal' id='newCampaignTemplate'>

	<%= render 'common/modal_header', title: 'New Campaign Template' %>

	<!-- <div class='wizard-steps'> -->
	<div class='wizard-steps' style='display:none;'>
		<!--= wizard.init 'new_campaign_template_wiz' -->

	<%= render 'components/wizard/step_index', wizard_name: 'new_campaign_template_wiz' %>

	<div class='modal-body' style='display: table;'>

		<div class='wizard-step name-step'>
			<!--= wizard.set_step 'new_campaign_template_wiz' 'Name' -->

			<form parsley-validate>
        <!--= on 'submit' (def 'new_campaign_template' form_object) (wizard.advance 'new_campaign_template_wiz') -->
				<input type='hidden' name='campaign_template[nonprofit_id]' value='<%= @nonprofit.id %>'>

				<fieldset>
					<label>Template Name</label>
					<input type='text' name='campaign_template[template_name]' required parsley-trigger='change'>
				</fieldset>

				<fieldset>
					<label>Campaign Name</label>
					<input type='text' name='campaign_template[name]' parsley-trigger='change'>
        </fieldset>

				<fieldset>
					<label>Short Tagline</label>
					<input type='text' name='campaign_template[tagline]' parsley-trigger='change'>
				</fieldset>

				<fieldset>
					<label>Short Description <small>(used for sharing on social media)</small></label>
					<textarea name='campaign_template[summary]' parsley-maxlength='300' parsley-trigger='change'></textarea>
				</fieldset>

				<%= render 'components/forms/submit_button', button_text: 'Next', scope: 'new_campaign_template_wiz', branded: true %>
			</form>
		</div>

			<div class='wizard-step amount-step'>
				<!--= wizard.set_step 'new_campaign_template_wiz' 'Goals' -->

				<form parsley-validate>
					<!--= on 'submit' (def 'new_campaign_template' form_object) (wizard.advance 'new_campaign_template_wiz') -->


          <div class='u-margin--auto'>
						<fieldset class='group u-marginBottom--0'>
							<label class='u-paddingTop--5'>Goal Amount</label>
							<div class='prepend--dollar'>
								<input class='input--100 u-marginBottom--5' value='1000' type='number' name='campaign_template[goal_amount_dollars]' min='1'>
							</div>
						</fieldset>

						<hr>

						<fieldset class='group'>
							<label class='u-paddingTop--5'>End Date & Time</label>
              <div pikaday-timepicker='MM/DD/YYYY hh:mm a'>
                <input class='u-width--200 u-bold u-inlineBlock' type='text' name='campaign_template[end_datetime]' parsley-trigger='change' placeholder='MM/DD/YYYY HH:MM'>
                <a class='button edit u-inlineBlock'>Set</a>
              </div>
						</fieldset>
					</div>

					<%= render 'components/forms/submit_button', button_text: 'Next', scope: 'new_campaign_template_wiz', branded: true %>
				</form>
			</div>

			<div class='wizard-step media-step'>
				<!--= wizard.set_step 'new_campaign_template_wiz' 'Media' -->

				<form parsley-validate>
          <!--= on 'submit' create_campaign_template -->

          <fieldset>

						<p class='u-color--red'>
							<!--= show_if (length image_upload.error) -->
							<small><!--= put image_upload.error --></small>
						</p>

						<div class='col-left-8'>
							<label>Image <small>(recommended width: 500px)</small></label>
							<p>This image appears below the campaign's header as well as on the campaign's preview card.  You'll have a chance to upload an additional header image once you've created your campaign.</p>
						</div>
						<div class='image-upload u-margin--0 u-floatR' if-branded='border-color, light'>
							<span><i class='fa fa-image'></i> Upload</span>
							<input type='file' name='campaign_template[main_image]' parsley-trigger='change'>
            </div>
					</fieldset>

					<fieldset>
						<hr>
						<label>Video</label>
						<p>If you have a video, it can greatly boost your success. Copy and paste the URL from Vimeo or Youtube.</p>
						<input type='text' class='u-marginBottom--10' name='campaign_template[video_url]' placeholder='Youtube or Vimeo URL' />
					</fieldset>

					<%= render 'components/forms/submit_button', button_text: 'Preview Template!', scope: 'new_campaign_template_wiz', branded: true %>
        </form>
			</div>
		</div>
	</div>
</div>

<!-- end partial campaigns/new-modal -->
