<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<p>
	Congrats! You're now <%= @title_with_article %> for
	<strong><%= @nonprofit.name %></strong> on <%= Houdini.general.name %>.
</p><br>

<p><a href='<%= nonprofit_url(@nonprofit) %>'>View your nonprofit profile</a></p>

<%= render 'emails/sig' %>
