<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<p>
	Congrats! We've added you as <%= @title_with_article %> for
	<strong><%= @nonprofit.name %></strong> on <%= Houdini.general.name %>.
</p><br>

<p>Next step: <strong><a href='<%= confirmation_url(@user, confirmation_token: @token) %>'>confirm your email and set your password.</a></strong></p> 

<%= render 'emails/sig' %>
