<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<p>Your import from <%= Format::Date.simple @import.date %> was completed successfully.</p>

<p>To view your new supporter data, visit: <a href='<%= root_url %>nonprofits/<%= @nonprofit.id %>/supporters'>supporter management.</a></p>

<p>To view your new payments data, visit: <a href='<%= root_url %>nonprofits/<%= @nonprofit.id %>/payments'>payment history.</a></p>

<p>If you have any questions about this import, please contact <%= Houdini.hoster.support_email %>.</p>


<%= render 'emails/sig' %>
