<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<% content_for(:footer_hidden) {'hidden'} %>
<%= content_for :javascripts do %>
	<script>
    var pageLoadData = {
      card: <%= @nonprofit.active_card ? raw(@nonprofit.active_card.to_json) : '{}' %>
    , plan: <%= raw(@nonprofit.billing_plan.to_json) %>
    , subscription: <%= raw(@nonprofit.billing_subscription.to_json) %>
    }
	</script>
	<%= IncludeAsset.js '/client/js/nonprofits/cards/edit/page.js' %>
<% end %>

<div id='js-main'></div>

