<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<% content_for(:footer_hidden) {'hidden'} %>
<%= content_for :javascripts do %>
	<script>
    var pageLoadData = {
      card: <%= @nonprofit.active_card ? raw(@nonprofit.active_card.to_json) : '{}' %>
    , plan: <%= raw(@nonprofit.billing_plan.to_json) %>
    , subscription: <%= raw(@nonprofit.billing_subscription.to_json) %>
    }
	</script>
	<%= javascript_pack_tag 'i18n', 'page__nonprofits__cards__edit' %>
<% end %>

<div id='js-main'></div>

