<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial nonprofits/dashboard/campaign_listing -->

<section class='u-marginBottom--15'>
	<div class='pastelBox--yellow'>
		<header><i class='icon-thermometer-medium'></i> <%= t('nonprofits.dashboard.campaign_listing.header') %></header>
      <!--= scope 'metrics.data.published_campaigns' -->

			<p class='noResults u-padding--15'>
				<!--= show_if (empty this) -->
				<%= t('nonprofits.dashboard.campaign_listing.no_results_label') %>
			</p>

			<ul class='u-margin--0'>
				<li class='u-padding--15'>
					<!--= repeat this -->
					<div class='u-centered u-marginBottom--5'>
            <p class='u-flat u-paddingBottom--10'>
              <a>
                <!--= set_attr 'href' (cat nonprofit_path '/campaigns/' this.id -->
                <strong><!--= put this.name --></strong>
              </a>
            </p>
          </div>
          <table class='table'>
            <tr>
              <td><strong><%= t('nonprofits.dashboard.campaign_listing.total_supporters') %></strong></td><td><%= render 'components/loading_data', data: 'this.supporter_count' %></td>
            </tr>
            <tr>
              <td><strong><%= t('nonprofits.dashboard.campaign_listing.total_one_time') %></strong></td><td><%= render 'components/loading_data', data: 'this.total_one_time' %></td>
            </tr>
            <tr>
              <!--= show_if this.total_recurring -->
              <td><strong><%= t('nonprofits.dashboard.campaign_listing.total_recurring') %></strong></td><td><%= render 'components/loading_data', data: 'this.total_recurring' %></td>
            </tr>
            <tr>
              <td><strong><%= t('common.date') %></strong></td>
              <td><!--= put (readable_date this.created_at) --> - <!--= put (readable_date this.end_datetime) --></td>
            </tr>
          </table>
				</li>
			</ul>

			<footer class='u-padding--15'>
				<button class='button--large orange' open-modal='newCampaign' data-when-confirmed>
					<%= t('nonprofits.dashboard.campaign_listing.new_campaign') %>
				</button>
			</footer>

	</div>
</section>

<!-- end partial nonprofits/dashboard/campaign_listing  -->
