<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div class='metrics'>
<!--= scope 'metrics.data' -->

<section class='pastelBox--green u-marginBottom--15'>
  <header><i class='fa fa-heart'></i> <%= t('nonprofits.dashboard.metrics.header') %></header>

  <div class='pastelBox-body'>
    <table class='table'>
      <tr>
        <td class='table-strongText'><%= t('common.total') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.payments.total' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.average') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.payments.average' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.this_week') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.payments.week' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.this_month') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.payments.month' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.this_year') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.payments.year' %>
        </td>
      </tr>
    </table>
  </div>
</section>

<section class='pastelBox--blue u-marginBottom--15'>
  <header><i class='fa fa-refresh'></i> <%= t('nonprofits.dashboard.metrics.recurring_monthly') %></header>

  <div class='pastelBox-body'>
    <table class='table'>
      <tr>
        <td class='table-strongText'><%= t('common.total') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.recurring.total' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.average') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.recurring.average' %>
        </td>
      </tr>


      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.new_this_month') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.recurring.month' %>
        </td>
      </tr>
    </table>
  </div>
</section>

<section class='pastelBox--orange'>
  <header><i class='fa fa-users'></i> <%= t('common.supporters') %></header>
  <div class='pastelBox-body'>
    <table class='table'>
      <tr>
        <td class='table-strongText'> <%= t('common.total') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.supporters.total' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.new_this_week') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.supporters.week' %>
        </td>
      </tr>

      <tr>
        <td class='table-strongText'><%= t('nonprofits.dashboard.metrics.new_this_month') %></td>
        <td class='table-bigNum'>
          <%= render 'components/loading_data', data: 'this.supporters.new_this_month' %>
        </td>
      </tr>
    </table>
  </div>
</section>

</div>
