<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial nonprofits/dashboard/payments_listing -->

<section class='sidebar-listing'>
  <!--= scope 'metrics.data.recent_donations' -->

	<div class='pastelBox--green'>
		<header><i class='fa fa-heart'></i> <%= t('nonprofits.dashboard.payments_listing.header') %></header>
		<div class='pastelBox-body'>
      <p class='u-paddingY--20 u-centered'>
        <!--= show_if loading   -->
        <i class='fa fa-spin fa-gear'></i> <%= t('common.loading_with_periods') %>
      </p>
      <section>
        <!--= hide_if loading   -->

  			<p class='noResults'>
  				<!--= show_if (empty this) -->
  				<%= t('common.none_yet') %>
  			</p>

    		<table class='table'>
    			<tr>
    				<!--= repeat this -->
    					<td class='u-paddingLeft--0'>
                <a target='_blank' title='Click for payment details'>
                  <!--= set_attr 'href' (route_with_params 'payments' 'pid' this.payment_id) -->
                  <!--= put this.amount -->
                </a>
    					</td>
              <td class='u-paddingX--0'>
                <small><!--= put (any this.supporter_name this.supporter_email) --></small>
              </td>

              <td>
                <small class='u-color--grey'><!--= put (readable_date this.date) --></small>
              </td>
    			</tr>
    		</table>

    		<div class='u-centered'>
    			<a class='button details strong' href='<%= nonprofits_payments_path(@nonprofit) %>'>
            <%= t('ui.view_all') %>
          </a>
    		</div>
      </section>
	  </div>
  </div>
</section>

<!-- end partial nonprofits/dashboard/payments_listing -->
