<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div>
	<!--= hide_if (eq todos.percent_done 100) -->
	<p class='pastelBox--yellow u-padding--15 u-marginBottom--15'>
		<%= t('nonprofits.dashboard.todo_messages.welcome') %>, <strong><%= current_user.profile.name.blank? ? @nonprofit.name : current_user.profile.name %></strong>! <%= t('nonprofits.dashboard.todo_messages.checklist_label') %>

	<span>
		<!--= show_if (< todos.percent_done 20) -->
		<%= t('nonprofits.dashboard.todo_messages.dashboard_message') %>
	</span>

    <% if Houdini.hoster.terms_and_privacy&.help_url %> <%= t('nonprofits.dashboard.todo_messages.help_link_message') %> <%= link_to("Help Center", Houdini.terms_and_privacy.help_url) %>.<% end %>
	</p>
</div>
