<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div class='wizard-step payment-step'>
	<!--= wizard.set_step 'donate_wiz' 'Payment' -->

	<p class='u-fontSize--18 u-marginBottom--0'>
		$<!--= put (cents_to_dollars donate_wiz.donation.amount) -->
			<strong>
				<!--= show_if donate_wiz.donation.recurring_donation -->
				<%= t('nonprofits.donate.payment.sustaining_monthly') %>
			</strong>
			<strong>
				<!--= hide_if donate_wiz.donation.recurring_donation -->
				<%= t('nonprofits.donate.payment.one_time') %>
			</strong> 
		<%= t('nonprofits.donate.payment.contribution') %>
	</p>

	<form class='cardForm u-centered' novalidate>
		<!--= on 'submit' (donate_wiz.send_payment form_object) -->

		<div class='card-fields u-marginTop--15'>
			<%= render 'cards/fields' %>
		</div>

		<%= render 'cards/form_footer' %>
	</form>

</div>

