<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>

<aside class='u-marginBottom--15 u-centered pastelBox--grey u-relative'>
	<header>Location</header>
	<div class='pastelBox-body'>
		<% if event.virtual? %>
			<h6 class='u-marginTop--0'>Virtual</h6>
		<% else %>
			<h6 class='u-marginTop--0'><%= event.venue_name %></h6>
			<p class='strong u-marginBottom--20'>
				<%= event.address %><br>
				<%= event.city %>, <%= event.state_code %> <%= event.zip_code %>
			</p>
			<a class='strong' href="<%= google_maps_url(event) %>" target='_blank' if-branded='color, darker'>
				<i class='fa fa-map-marker'></i>&nbsp; View on Map
			</a>
		<% end %>
	</div>
</aside>
