<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% content_for(:fixed_position_cta_hidden) {'hidden'} %>

<%= content_for :stylesheets do %>
	<%= stylesheet_link_tag 'events/index/page' %>
<% end %>

<%= content_for :javascripts do %>
  <script>
		app.current_nonprofit_user = <%= current_nonprofit_user? %>
  </script>
	<%= javascript_packs_with_chunks_tag 'i18n', 'page__events__index' %>
<% end %>

<%= render 'components/header',
icon_class: 'icon-ticket-2',
title: 'Events',
profile: @nonprofit,
has_mosaic: true %>

<main class='container u-padding--15 u-marginBottom--30'>
	<% if current_user %>
		<a class='button orange u-marginY--10' open-modal='newEvent' data-when-confirmed><i class='fa fa-plus'></i> New Event</a>
	<% end %>
  <div id='js-eventsListing'></div>
</main>

<% if current_user %>
	<%= render 'events/new_modal' %>
<% end %>
