<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<%= content_for(:title_prefix) {"#{@event.name} - #{@event.nonprofit.name}".html_safe} %>
<%= content_for(:meta_description) {@event.summary.html_safe} %>
<%= content_for(:stylesheets) {stylesheet_link_tag 'events/show/page'} %>
<% content_for(:fixed_position_cta_hidden) {'hidden'} %>

<% @brand_color = @nonprofit.brand_color ? @nonprofit.brand_color : nil %>

<%= content_for :facebook_tags do %>
	<meta property="og:title" content="<%= @event.name %>" />
	<meta property="og:description" content="<%= @event.summary.present? ? @event.summary : @event.name %>" />
	<meta property="og:image" content="<%= @event.main_image_url(:normal) %>" />
<% end %>

<%= content_for :twitter_tags do %>
	<meta property="twitter:title" content="<%= @event.name %>" />
	<meta property="twitter:description" content="<%= @event.summary %>" />
	<meta property="twitter:image" content="<%= @event.main_image_url(:normal) %>" />
<% end %>

<%= content_for :recaptcha_js do %>
	<script src="https://www.recaptcha.net/recaptcha/enterprise.js?render=<%= ENV['RECAPTCHA_SITE_KEY'] %> "></script>
<% end %>

<%= content_for :javascripts do %>
	<script>
		app.event_id = <%= @event.id %>
		appl.def('event_id', <%= @event.id %>)
		app.hide_activities = <%= @event.hide_activity_feed %>
		app.header_image_url = '<%= @event_background_image %>'
		app.current_event_editor = <%= current_event_editor? %>
		app.event_url = '<%= nonprofit_event_path(@nonprofit, @event) %>'
	appl.def('event_is_deleted', <%= @event.deleted || false %>)
	app.nonprofit = app.nonprofit || {}

	app.nonprofit.feeStructure = <%= raw @nonprofit.fee_coverage_details_with_json_safe_keys.to_json %>
	</script>

	<%= render 'common/froala' if current_event_editor? %>
  <%= 
		render('schema', event: @event, url: @url) if @event.in_person?  #the ld-json schema only works for in person events https://developers.google.com/search/docs/appearance/structured-data/event#content-guidelines
	%>
	<script>
				var ticketPaymentCard = stripeV3.elements({
        fonts: [
            { cssSrc: "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" }
        ]
      }).create('card', {
        style: {
            base: {
                color: '#494949',
                fontFamily: "'Open Sans', 'Helvetica Neue', Arial, Verdana, 'Droid Sans', sans-serif",
                fontSmoothing: 'antialiased',
                fontSize: '16px'
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }

		},
		hidePostalCode: true,
		disableLink: true,
    })
				ticketPaymentCard.mount("#ticketPaymentCard")
				app.manual_cover_fees = <%= @event.fee_coverage_option == 'manual' %>;
				appl.hide_cover_fees_option = <%= @event.fee_coverage_option == 'none' %>;
				app.hide_cover_fees_option = <%= @event.fee_coverage_option == 'none' %>;
		</script>
	<%= IncludeAsset.js '/client/js/events/show/page.js' %>
	<script>
		<% 
			# * if we hide covering fees, this must be false since there won't be a UI to select it
		  # * if we aren't hiding the fees to be covered, we want the fees to be pre-selected
		%>
		appl.def('ticket_wiz.fee_covered',  <%= @event.fee_coverage_option == 'auto' %>)
	</script>
	<script>
	appl.def('ticketPaymentCard', ticketPaymentCard)
	</script>

	<script>
	 	document.querySelectorAll('#autocompleteAddressInVS').forEach((input) => {
			window.googleAutocomplete.createAutocompleteInput({input, placeChangedCallbacks:[(place) => appl.def('autocomplete.data', place)]});
		 })

		 appl.def('resetAutocompleteData', () => {
			 appl.def('autocomplete.data', null)
		 })
	</script>
<% end %>

<%= content_for :head do %>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="canonical" href='<%= @url %>' />
<% end %>

<% if current_event_editor? %>
  <%= render 'admin_top_nav' %>
<% end %>

<%= render 'components/fundraising_pages/header',
	image_url: @event_background_image,
	is_editor: current_event_editor?,
	hide_title:  @event.hide_title,
	header_content_partial: 'header_content',
  banner_image_url: nil %>

<%= render 'components/preview_mode_notification' %>

<div class="container <%= @brand_color ? 'is-branded' : 'not-branded' %>">

	<section class='rightSide'>

    <% if Time.now < @event.end_datetime %>
      <aside class='u-paddingBottom--15'>
        <a class='getTickets' if-branded='background-color, dark'>
          <!--= on 'click' show_new_tickets -->
          <span class='cornerHoles--top'></span>
          <hr class='doubleLines'></hr>
          <span class='getTickets-text'><%= @event&.get_tickets_button_label %></span>
          <hr class='doubleLines'></hr>
          <span class='cornerHoles--bottom'></span>
        </a>
      </aside>
    <% end %>

		<%= render 'date_time' %>
		<%= render 'location', event: @event %>
		<%= render 'event_metrics' if (@event.show_total_raised || @event.show_total_count) %>

    <div class='u-marginBottom--15'>
      <button class='js-openDonationModal button--jumbo u-width--full' if-branded='background-color, dark' href='#donate'> <i class="fa fa-heart"></i> Donate </button>
	</div>
		<%= render 'organizer' %>

		<aside class='pastelBox--grey u-marginBottom--15'>
			<header>Promote this event</header>
			<div class='pastelBox-body'>
				<%= render 'common/event_social_buttons' %>
			</div>
		</aside>

		<% unless @event.hide_activity_feed %>
			<div class='hideWhenMobile'>
				<%= render 'components/activity_feed' %>
			</div>
		<% end %>
	</section>


	<section class='leftSide'>
		<div class='u-marginBottom--15 editable' id='js-eventDescription' data-path='<%= nonprofit_event_path(@nonprofit, @event) %>' data-key='event[body]'>
			<%= raw(@event.body) %>
		</div>

		<% unless @event.hide_activity_feed %>
			<div class='showWhenMobile'>
				<%= render 'components/activity_feed' %>
			</div>
		<% end %>
	</section>
</div>

<div id='js-main'></div>

<!-- modals -->

<% if current_event_editor? %>
	<%= render 'settings_modal' %>
  <%= render 'events/discounts/manage_modal' %>
  <%= render 'events/discounts/create_or_edit_modal' %>
	<%= render 'ticket_levels/manage_modal' %>
	<%= render 'ticket_levels/create_or_edit_modal' %>
	<%= render 'components/upload_background_image',
		end_point: nonprofit_event_path(@nonprofit, @event),
		image_url: @event_background_image,
		input_name: 'event[background_image]' %>
  <%= render 'components/custom_receipt_modal',
    title: 'Ticket Email Message',
    type: 'event',
    path: nonprofit_event_path(@nonprofit, @event),
    key: 'event[receipt_message]',
    text: @event.receipt_message %>
  <%= render 'components/duplicate_fundraiser_modal', type: 'event' %>
<% end %>

<%= render 'components/share_modal', name: @event.name, type: 'event' %>


<%= render 'nonprofits/donate/modal' %>
<%= render 'tickets/new_modal', profile: current_user ? current_user.profile : nil, hide_cover_fees_option: @event.fee_coverage_option == 'none' %>
<%= render 'contact_organizer_modal' %>