<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<header class='pane-header'>
	<h3>Payouts</h3>
</header>

<section class='pane-inner'>
	<% if @nonprofit.can_make_payouts? %>
		<p>Your connected bank account is <strong><%= @nonprofit.bank_account && @nonprofit.bank_account.name %></strong>. 
		<% if current_role?(:nonprofit_admin) %>
			<a class='button--micro edit'>
				<!--= on 'click' (open_modal 'newBankModal') -->
				<i class='fa fa-pencil'></i> Change Bank Account
			</a>
		<% end %>
		</p>
	<% else %>
			<%= render 'nonprofits/payouts/todos' %>
	<% end %>

	<p class='u-marginTop--15'>
		<a href='<%= nonprofits_payouts_url(@nonprofit) %>'> View your payout history </a> 
	</p>

	<p class='u-marginTop--15'>
		<a href='<%= verification_nonprofits_stripe_account_url(@nonprofit) %>'> Update your Stripe verification info </a> 
	</p>
</section><!-- pane-inner -->

<%= render 'nonprofits/bank_accounts/modal' %>

