<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<table class='table'>
	<thead>
		<th colspan='2'>
      Ticket<%= tickets.length == 1 ? '' : 's' %>
		</th>
	</thead>

	<tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <td>
          <strong>Ticket Level</strong>
        </td>
        <td>
          <%= ticket&.ticket_level&.name.present? ?  ticket&.ticket_level&.name : 'n/a' %>
        </td>
      </tr>
			<tr>
				<td><strong>Quantity</strong></td>
				<td> <%= ticket.quantity %></td>
			</tr>
			<tr>
				<td><strong>Name</strong></td>
				<td> <%= ticket&.supporter&.name %></td>
			</tr>
			<tr>
				<td><strong>Email</strong></td>
				<td><%= ticket&.supporter&.email %></td>
			</tr>
			<tr>
				<td><strong>Ticket ID</strong></td>
				<td> <%= ticket.id %></td>
			</tr>
			<tr>
				<td><strong>Comment</strong></td>
				<td> <%= ticket&.donation&.comment || 'None' %></td>
			</tr>
      <% if tickets.length != 1 %>
        <tr colspan='2'><td><p></p></td></tr>
      <% end %>
    <% end %>
	</tbody>
</table>
