<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- partial start: tickets/finish_step -->
<section class='wizard-step'>
	<!--= wizard.set_step 'ticket_wiz' 'Finish' -->

	<div>
		<!--= show_if (eq ticket_wiz.post_data.kind 'free') -->
		<h5 class='u-centered'>Your tickets are free!</h5>

		<form>
			<!--= on 'submit' (ticket_wiz.create_tickets null) -->
			<%= render 'components/forms/submit_button', button_text: 'Get Tickets', loading_text: 'Redeeming...', branded: true %>
		</form>
	</div>

	<div>
		<!--= hide_if (eq ticket_wiz.post_data.kind 'free') -->

		<p class='u-centered'>
			You've selected
			<strong><!--= put (pluralize ticket_wiz.total_quantity 'tickets') --></strong>
			totalling
      <strong>
        $<!--= put (cents_to_dollars ticket_wiz.total_amount) -->
      </strong>
      <strong>
        <!--= show_if ticket_wiz.discount_obj -->
    	(discounted)
      </strong>
		</p>

		<% if show_payment_options  %>
			<hr class='diamonds'>
			<p class='u-centered u-marginY--10'>Please select a payment method:</p>
			<div class='u-margin--auto u-maxWidth--200 u-marginBottom--20'>
				<input type="radio" id="radio_charge" name="kind" value='' data-ticket-kind="charge" checked='checked' autocomplete='off'>
				<!--= on 'change' ticket_wiz.set_kind -->
				<label for="radio_charge">Credit Card</label>
				<br>
				<input type="radio" id="radio_check" name="kind" value="check" data-ticket-kind="offsite" autocomplete='off'>
				<!--= on 'change' ticket_wiz.set_kind -->
				<label for="radio_check">Check</label>
				<br>
				<input type="radio" id="radio_cash" name="kind" value="cash" data-ticket-kind="offsite" autocomplete='off'>
				<!--= on 'change' ticket_wiz.set_kind -->
				<label for="radio_cash">Cash</label>
			</div>
		<% end %>

		<form class='cardForm'>
			<!--= show_if (eq ticket_wiz.post_data.kind 'charge') -->
			<!--= on 'submit' (ticket_wiz.send_payment 'ticketPaymentCard' form_object) -->
			<div class='u-background--grey u-padding--10'>
				<fieldset>
					<input type='text' class='input-medium' name='cardholder_name'
					required
					parsley-trigger='change'
					placeholder="Cardholders' Name">
					<!--= set_value donate_wiz.supporter.name -->
					<!--= set_value card_form.preset_name -->
					<!--= set_value selected_supporter.name -->
				</fieldset>

				<fieldset>
							<input type='text' class='input-medium' name='cardholder_zip'
							parsley-trigger='change'
							placeholder="Cardholders' Postal/ZIP Code">
							<!--= set_value form_object.cardholder_zip -->
					</fieldset>


				<div id="ticketPaymentCard">

				</div>

				<fieldset>
				<!--= show_if (length discounts.data) -->
				<% discount_code_id = SecureRandom.uuid %>
				<label for='<%= discount_code_id %>'><small>Discount Code (optional)</small></label>
				<input type='text' class='u-width--200' id='<%= discount_code_id %>' autocomplete="off">
				<!--= on 'keyup' discounts.apply -->
				</fieldset>
			</div>

			

			<div class='u-marginTop--15 u-centered'>
			<div class="donate-feeCoverageCheckbox u-marginBottom--10 u-marginTop--20">
				<% save_card_uid = SecureRandom.uuid %>
				<input class="u-margin--0 donationWizard-amount-input" type="checkbox" id='<%= save_card_uid %>' name='save_card' checked='checked'>
				<label class="checkbox-feeCoverage-label"for='<%= save_card_uid %>'><div><small>Save this card for purchases at the event</small></div></label>
				</div>

			<div class="donate-feeCoverageCheckbox u-marginBottom--10 u-marginTop--20">
				<% fee_covered_id = SecureRandom.uuid %>
				<input class="u-margin--0 donationWizard-amount-input" type="checkbox" id="<%=fee_covered_id%>" autocomplete="off">
				<!--= on 'change' fee_covered.apply -->
							<!--= set_attr_if ticket_wiz.fee_covered 'checked' <%= fee_covered_id %> -->
				<label class="checkbox-feeCoverage-label" for="<%=fee_covered_id%>">
					<div><small>Boost your contribution! Cover <strong>$<!--= put (cents_to_dollars ticket_wiz.total_fee) --></strong> in processing fees</small></div>
				</label>
			</div>

				
				<div class='u-marginTop--15'>
					<%= render 'cards/form_footer', hide_dedication: true  %>
				</div>
			</div>
		</form>
		
		<form>
      <!--= show_if (eq ticket_wiz.post_data.offsite_payment.kind 'cash') -->
      <!--= on 'submit' (ticket_wiz.create_tickets null) -->
      <%= render 'components/forms/submit_button', branded: true %>
    </form>


		<form>
      <!--= show_if (eq ticket_wiz.post_data.offsite_payment.kind 'check') -->
      <!--= on 'submit' (ticket_wiz.create_tickets null) -->

			<div class='u-maxWidth--200 u-margin--auto'>
				<label>Check Number</label>
				<input class='input-100' name='check_number' type='number' placeholder="1234">
			</div>
      <%= render 'components/forms/submit_button', branded: true %>
		</form>
    
	</div>

</section>
<!-- partial end: tickets/finish_step -->
