<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!-- partial: nonprofits/button/_tabs.html.erb -->
<div class='pageTabs'>
	<a href='<%= nonprofits_button_advanced_path(@nonprofit) %>' 
		class='<%= active == :advanced && 'is-active' %>'>
		<%= t('nonprofits.button.tabs.advanced') %>
	</a>

	<a href='<%= nonprofits_button_guided_path(@nonprofit) %>'
		class='<%= active == :guided && 'is-active' %>'>
		<%= t('nonprofits.button.tabs.guided') %>
	</a>

	<a href='<%= nonprofits_button_basic_path(@nonprofit) %>'
		class='<%= active == :basic && 'is-active' %>'>
		<%= t('nonprofits.button.tabs.basic') %>
	</a>
</div>
<!-- end partial nonprofits/button/_tabs.html.erb -->