<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<%= content_for :stylesheets do %>
	<%= stylesheet_link_tag 'nonprofits/button/page' %>
<% end %>
<% content_for(:footer_hidden) {'hidden'} %>

<% content_for :javascripts do %>
 <%= javascript_packs_with_chunks_tag 'i18n', 'page__nonprofits__button' %>
<% end %>

<header class='header'>
	<div class='container--mid'>
	<i class='header-icon icon-credit-card'></i>
	<h3 class='header-title'>Donate Form Builder</h3>
	<%= render 'tabs', active: :advanced %>
	</div>
</header>


<div class='container--mid advanced'>

	<section>

		<div class='no-js'>
			<h3><%= t('nonprofits.button.advanced.quick_setup') %></h3>

			<h5><%= t('nonprofits.button.advanced.embed_form') %></h5>

			<textarea readonly class='codeText'>
				<iframe frameborder='0' width='390' height='410' src="<%= request.base_url %>/nonprofits/<%= @nonprofit.id %>/donate?offsite=t&mode=embedded"></iframe>
				<script>var iframe = document.getElementsByTagName('iframe')[0]; iframe.setAttribute("src", iframe.src + window.location.search)</script>
			</textarea>

			<h5><%= t('nonprofits.button.advanced.use_basic_link_title') %></h5>

			<textarea readonly class='codeText' rows='1'><a href="<%= request.base_url %>/nonprofits/<%= @nonprofit.id %>/donate" target="_blank">Donate</a></textarea>

			<p><%= t('nonprofits.button.advanced.use_basic_link_text') %></p>
		</div>


		<div class='yes-js'>
			<h3><%= t('nonprofits.button.advanced.more_options') %></h3>

			<h5><%= t('nonprofits.button.advanced.include_script_title') %></h5>
			<p><%= t('nonprofits.button.advanced.include_script_text') %></p>

			<%= render 'include_snippet' %>

			<h5><%= t('nonprofits.button.advanced.get_donate_button_title') %></h5>
			<p><%= t('nonprofits.button.advanced.get_donate_button_text') %></p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate'></a></textarea>

			<h5><%= t('nonprofits.button.advanced.embed_form_title') %></h5>
			<p><%= t('nonprofits.button.advanced.embed_form_text') %></p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-embedded></a></textarea>

			<h5><%= t('nonprofits.button.advanced.add_custom_button_title') %></h5>
			<p><%= t('nonprofits.button.advanced.add_custom_button_text') %></p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-custom>Your Custom Button Text or Image</a></textarea>

			<h5><%= t('nonprofits.button.advanced.add_designation_title') %></h5>
			<p><%= t('nonprofits.button.advanced.add_designation_first_text') %></p>
			
			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-designation="Back to School Program"></a></textarea>
			
			<p><%= t('nonprofits.button.advanced.add_designation_second_text') %></p>

			<textarea readonly class='codeText' rows='2'><a class='commitchange-donate' data-designation="Back to School Program" data-designation-desc="Provide backpacks and school supplies for first graders."></a></textarea>

			<h5><%= t('nonprofits.button.advanced.preset_single_amount_title') %></h5>
			<p><%= t('nonprofits.button.advanced.preset_single_amount_first_text') %></p>
			<p><%= t('nonprofits.button.advanced.preset_single_amount_second_text') %>:</p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-single-amount="15"></a></textarea>

			<h5><%= t('nonprofits.button.advanced.create_multiple_amount_title') %></h5>
			<p><%= t('nonprofits.button.advanced.create_multiple_amount_text') %></p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-custom-amounts="10.50,20,30,40,50,60,70"></a></textarea>

			<h5><%= t('nonprofits.button.advanced.preset_donations_title') %></h5>
			<p><%= t('nonprofits.button.advanced.preset_donations_text') %></p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-type='recurring'></a></textarea>

			<h5><%= t('nonprofits.button.advanced.redirect_donors_title') %></h5>
			<p><%= t('nonprofits.button.advanced.redirect_donors_text') %></p>

			<textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-redirect='<%= request.base_url %>'></a></textarea>


      <h5><%= t('nonprofits.button.advanced.set_campaign_title') %></h5>
      <p><%= t('nonprofits.button.advanced.set_campaign_first_text') %>:</p>

      <textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-campaign-id=619></a></textarea>

      <p><%= t('nonprofits.button.advanced.set_campaign_second_text') %></p>

      <textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-campaign-id='619' data-gift-option-id='13'></a></textarea>

      <h5><%= t('nonprofits.button.advanced.set_supporter_fields_title') %></h5>
      <p><%= t('nonprofits.button.advanced.set_supporter_fields_text') %></p>
      <textarea readonly class='codeText' rows='1'><a class='commitchange-donate' data-custom-fields='shirt size: T-shirt size, company: Company name'></a></textarea>

		</div><!-- .yes-js -->
	</section>
</div>
