<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<%= content_for :stylesheets do %>
	<%= stylesheet_link_tag 'nonprofits/button/page' %>
<% end %>
<%= content_for :javascripts do %>
	<%= javascript_packs_with_chunks_tag 'i18n', 'page__nonprofits__button'%>
<% end %>
<% content_for(:footer_hidden) {'hidden'} %>

<script>
document.addEventListener("DOMContentLoaded", function(event) { 
	(function() {
	if(document.querySelector('.commitchange-donate[data-fixed]')) return;
	var cc_donate = document.createElement('div');
	cc_donate.innerHTML = "<a data-fixed class='commitchange-donate'></a>";
	document.body.appendChild(cc_donate);
	var npo = window.app.nonprofit.id;
	var script = document.createElement('script');
	var first = document.getElementsByTagName('script')[0];
	script.setAttribute('data-npo-id', npo);
	script.id = 'commitchange-script';
	script.src = '<%= request.base_url %>/js/donate-button.v2.js';
	first.parentNode.insertBefore(script, first);
	})();
})
</script>

<header class='header'>
	<div class='container--mid'>
	<i class='header-icon icon-credit-card'></i>
	<h3 class='header-title'><%= t('nonprofits.button.donate_form_builder') %></h3>
	<%= render 'tabs', active: :basic %>
	</div>
</header>

<aside class='helpBoxWrapper helpBoxWrapper--fade'>
	<div class='helpBox'>
		<p><%= t('nonprofits.button.basic.live_preview') %></p>
	</div>
</aside>

<div class='container u-paddingX--30 u-marginTop--20'>
	<h5 class='u-centered'><%= t('nonprofits.button.basic.collecting_donations_title') %></h5>
	<p><%= t('nonprofits.button.basic.collecting_donations_first_text') %></p>

	<p><%= t('nonprofits.button.basic.collecting_donations_second_text') %></p>

	<p>For more customization options for your donate button, such as creating a button from an image or adding a designation, use our <strong><%= link_to 'guided', nonprofits_button_guided_path(@nonprofit) %></strong> donate button builder.
	</p>

	<section class='u-marginTop--20'>
		<%= render 'include_oneline_snippet' %>
	</section>

</div>
