<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<%= content_for :stylesheets do %>
	<%= stylesheet_link_tag 'nonprofits/button/page' %>
<% end %>
<% content_for(:footer_hidden) {'hidden'} %>

<% content_for :javascripts do %>
	<%= javascript_packs_with_chunks_tag 'i18n', 'page__nonprofits__button' %>
<% end %>

<header class='header'>
	<div class='container--mid'>
		<i class='header-icon icon-credit-card'></i> 
		<h3 class='header-title'><%= t('nonprofits.button.donate_form_builder') %></h3>
		<%= render 'tabs', active: :guided %>
	</div>
</header>

<section class='container--mid u-padding--15' id='js-donateFormBuilder'></section>

<%= render 'modals' %>
