<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<%= content_for :stylesheets do %>
	<%= stylesheet_link_tag 'nonprofits/button/page' %>
<% end %>
<% content_for(:footer_hidden) {'hidden'} %>

<% content_for :javascripts do %>
<%= IncludeAsset.js '/client/js/nonprofits/button/page.js' %>
<% end %>

<header class='header'>
	<div class='container--mid'>
		<i class='header-icon icon-credit-card'></i> 
		<h3 class='header-title'>Donate Form Builder</h3>
		<%= render 'tabs', active: :guided %>
	</div>
</header>

<section class='container--mid u-padding--15' id='js-donateFormBuilder'></section>

<%= render 'modals' %>
