<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- partial: donations/new_modal -->
<!-- use cards.css -->
<!-- use donations/new.js -->

<div class='modal skinny' id='newDonationModal'%>

	<%= render 'common/modal_header', title: 'New Donation' %>

	<div class='modal-body'>
		<table class='table--striped'>
      <tr>
			     <td class='strong'>Supporter</td>
           <td><!--= put selected_supporter.name --></td>
      </tr>
      <tr>
        <td class='strong'>Card</td>
        <td><!--= put selected_card.name --></td>
      </tr>
		</table>

    <hr>

		<form class='newDonationModal-form'>
			<!--= on 'submit' (def 'new_donation' form_object) (open_modal 'confirmDonationModal') -->

			<fieldset>
				<label>Amount</label>

				<div class='prepend--dollar'>
					<input type='number' step='any' min='0' class='input--100' name='input_dollars' required autocomplete='off'>
					<!--= on 'change' input_dollars__apply -->
					<!--= on 'keyup' input_dollars__apply -->
				</div>

				
			</fieldset>
			<div class='u-marginTop--10'>
						<% fee_covered_id = SecureRandom.uuid %>
						<input type='checkbox' id='fee_covered-<%= fee_covered_id%>' name="fee_covered"  autocomplete='off' >
						<!--= on 'change' fee_covered__apply) -->
						<!--= checked_if donation_info.fee_covered -->
						<label for='fee_covered-<%= fee_covered_id %>'>
						<span>
						<!--=  show_if (eq donation_info.written_amount "0") -->
						Donor will cover the fee
						</span>
						<span> 
						<!--= show_if (not (eq donation_info.written_amount "0")) -->
						Donor will cover the $<!--= put donation_info.written_fee_amount --> fee
						</span>
						</label>
						</div>
			<input type='hidden' name='nonprofit_id' value='<%= @nonprofit.id %>'>

			<input type='hidden' name='amount'>
				<!--= set_value donation_info.amount -->

			<% if @event %><input type='hidden' name='event_id' value='<%= @event.id %>'><% end %>


			<input type='hidden' name='token'>
				<!--= set_value selected_card.id -->

			<input type='hidden' name='supporter_id'>
				<!--= set_value selected_supporter.id -->

			<fieldset class='u-marginBottom--15'>
				<label>Comment</label>
				<textarea name='comment' placehoder='Type optional comment here'></textarea>
			</fieldset>

			<%= render 'components/forms/submit_button', loading_text: 'Loading...', button_text: 'Next' %>


			<div class="u-fontSize--12 u-marginBottom--0 u-marginTop--10 u-color--grey u-security-notification">
			<!--= hide_if card_form.loading -->
			<i class="fa fa-lock u-security-icon"></i>
			<div>
				<span>Transactions secured with 256-bit SSL and protected by reCAPTCHA Enterprise. The Google <a href="https://policies.google.com/privacy" target="_new" style="color: grey!important; text-decoration:underline;">Privacy Policy</a> and <a href='https://policies.google.com/terms' target="_new" style="color: grey!important; text-decoration:underline;">Terms of Service</a> apply.</span>
			</div>
		</div>
		</form>

	</div>
</div>

<div class='modal skinny' id='confirmDonationModal'>

	<%= render 'common/modal_header', title: 'Confirm Charge' %>

	<div class='modal-body'>

    <table class='table--striped u-marginBottom--20'>
      <tr>
        <td class='strong'>Amount</td>
        <td>$<!--= put donation_info.written_amount   --></td>
      </tr>
      <tr>
        <td class='strong'>Supporter</td>
        <td><!--= put selected_supporter.name --></td>
      </tr>
      <tr>
        <td class='strong'>Card</td>
        <td><!--= put selected_card.name --></td>
      </tr>
    </table>

		<form>
			<!--= on 'submit' (confirm create_donation) -->
			<%= render 'components/forms/submit_button', loading_text: 'Processing...', button_text: 'Confirm' %>
		</form>
    </section>
	</div>

</div>

<!-- end partial: donations/new_modal -->
