<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<table class='table--plaid u-marginBottom--20'>
  <thead>
    <th><%= t('campaigns.dashboards.supporters') %></th>
    <th><%= t('campaigns.dashboards.total') %></th>
    <th><%= t('campaigns.dashboards.one_time') %></th>
    <th><%= t('campaigns.dashboards.recurring') %></th>
    <th><%= t('campaigns.dashboards.offsite') %></th>
  </thead>
  <tbody>
    <tr>
      <td>
        <!--= put campaign_totals.supporters_count -->
      </td>
      <td>
        $<!--= put (cents_to_dollars campaign_totals.total_cents) -->
      </td>
      <td>
        $<!--= put (cents_to_dollars campaign_totals.onetime_cents) -->
      </td>
      <td>
        $<!--= put (cents_to_dollars campaign_totals.recurring_cents) -->
      </td>
      <td>
        $<!--= put (cents_to_dollars campaign_totals.offsite_cents) -->
      </td>
    </tr>
  </tbody>
</table>
<!--= hide_if loading_totals -->

