<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% content_for(:dont_load_optimizely) {'true'} %>
<% content_for(:footer_hidden) {'hidden'} %>

<%= content_for :javascripts do %>
  <script>ENV.campaignID = <%= @campaign.id %></script>
  <%= javascript_packs_with_chunks_tag 'i18n', 'page__campaigns__supporters__index' %>
<% end %>

<% content_for :head do %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
<% end %>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag 'campaigns/supporters/index/page' %>
<% end %>

<header class='header'>
	<div class='container'>
		<i class='icon-check-list header-icon'></i>
		<h3 class='header-title'>
			<%= t('campaign.dashboard.campaign_dashboard')%>
		</h3>
		<a class='header-profile' href='<%= @campaign.url%>'><%=  @campaign.name %></a>
	</div>
</header>

<main class='container'> 
  <div class='u-marginBottom--10 u-marginTop--15 u-noSelect'>
    <div class='u-centered u-color--grey u-marginTop--20'>
      <!--= show_if loading_chart -->
      <%= t('common.loading') %>
    </div>
    <canvas id='js-timeline'></canvas>
  </div>
  <%= render 'totals' %>
  <div class='js-view-supporters'> </div>
</main>


