<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<p>
  Dear <%= @supporter.name %>,
</p>

<%= @nonprofit_text.html_safe %>


<p><%= @nonprofit.name %> is a 501c3 tax-exempt organization.</p>


<h3><%= @year %> Donation Receipt</h3>

<table>
  <tr>
    <td>Donor Name</td>
    <td><%= @supporter.name %></td>
  </tr>
  <tr>
    <td>Total Amount</td>
    <td>$ TODO</td>
  </tr>
  <tr>
    <td>Organization</td>
    <td><%= @nonprofit.name %>
  </tr>
  <tr>
    <td>Tax ID Number</td>
    <td><%= @tax_id %></td>
  </tr>

</table>



<% @donation_payments.each do |payment| %>
  <!-- todo -->
<% end %>

<% @refund_payments.each do |payment| %>
  <!-- todo -->
<% end %>


<% @dispute_payments.each do |payment| %>
  <!-- todo -->
<% end %>


<% @dispute_reversal_payments.each do |payment| %>
  <!-- todo -->
<% end %>
