<p>
Dear <%= @nonprofit.name %>,
</p>
<br>

<p>
Thank you for continuing to use <%= Settings.general.name %>!
</p>
<br>

<% href = "#{root_url}nonprofits/#{@nonprofit.id}/card/edit" %>
Unfortunately, the credit card we currently have on file (<%= @card.name %>, expiring <%= @card.expiration_month %>/<%= @card.expiration_year %>) has been declined and we are unable to process your subscription. Please give us a call or go to <strong><a href='<%= href %>'> <%=href%> </a></strong> to update your billing information to avoid any lapse in service.
</p>
<br>

<p>
If you have any questions or concerns, please feel free to call us (888) 204-8792 or to email <%= Settings.devise.mailer_sender %> and we'll respond promptly to help.
</p>
<br>
<br>

<p>
Sincerely,
</p>
<br>


<p>
The CommitChange Team
</p>
