<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% campaign_url = Format::Url.concat(root_url, @campaign.url) %>

<p><%= t('campaign_mailer.dear_creator', creator_name: @creator_profile.name.blank? ? @creator_profile.user.email : @creator_profile.name)%></p>
<br>

<p><%= t('campaign_mailer.congrats_on_creating_campaign') %></p>
<br>

<p><%= t('campaign_mailer.you_can_visit_at', url: content_tag(:strong, link_to(campaign_locateable_url(@campaign), campaign_locateable_url(@campaign)) ))%>
<br>

<p><%= t('campaign_mailer.before_sharing_tips')%></p>

<ul>
	<li><%= t('campaign_mailer.why_and_how_of_campaign_story_html')%></li>
  <li><%= t('campaign_mailer.add_image_and_videos_to_campaign')%></li>
	<li><%= t('campaign_mailer.create_gift_options') %></li>
  <li><%= t('campaign_mailer.get_network_for_initial_donations') %></li>
  <li><%= t('campaign_mailer.get_network_prepared_for_launch') %></li>
</ul>

<p><%= t('campaign_mailer.check_publish_when_ready') %></p>
<br>

<p><%= t('campaign_mailer.can_share_unpublished_campaign_html') %></p>

<%= render 'emails/sig' %>
