<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<% campaign_url = Format::Url.concat(root_url, @campaign.url) %>

<p><%= t('campaign_mailer.dear_creator', creator_name: @creator_profile.name.blank? ? @creator_profile.user.email : @creator_profile.name)%></p>
<br>

<p><%= t('campaign_mailer.congrats_on_creating_campaign_to_support', nonprofit_name: @campaign.nonprofit.name) %></p>
<br>

<p><%= t('campaign_mailer.you_can_visit_at', url: content_tag(:strong, link_to(campaign_locateable_url(@campaign), campaign_locateable_url(@campaign)) ))%></p>
<br>
<p><%= t(
'campaign_mailer.before_sharing_add_testimonial', 
link_to_profile_fundraisers: content_tag(:strong, 
  link_to(
    t('campaign_mailer.visit_your_fundraising_dashboard_inside_before_sharing_add_testimonial'), 
    fundraisers_profile_url(@creator_profile))), 
link_to_campaign: content_tag(:strong, 
  link_to(
    @campaign.name,
    campaign_locateable_url(@campaign)
  ))) %>
</p>

<p><%= t('campaign_mailer.make_sure_to_share_with_family_and_friends')%></p>
<ul>
  <%- if ENV['FACEBOOK_APP_ID'] -%>
    <li><%= link_to("Facebook", "https://www.facebook.com/dialog/feed?#{
      {
        app_id: ENV['FACEBOOK_APP_ID'],
        display: 'popup',
        caption: @campaign.name
        link: campaign_locateable_url(@campaign)
      }.to_query
    }") %></li>
  <%- end -%>
  <li><%= link_to("Twitter", "https://twitter.com/intent/tweet?#{
    {
      url: campaign_locateable_url(@campaign),
      via: Houdini.general.name,
      text: t('campaign_mailer.join_me_in_supporting_campaign_name', campaign_name: @campaign.name)
    }.to_query
  }")%>
  </li>
  <li><%= t('campaign_mailer.or_copy_and_paste_above_link')%></li>
</ul>

<p><%= t('campaign_mailer.if_you_need_help_email_support', 
        email_support: content_tag(:strong,
          Houdini.hoster.support_email)
)%></p>

<%= render 'emails/sig' %>
