<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<%= content_for :javascripts do %>
	<%= javascript_packs_with_chunks_tag 'i18n', 'page__nonprofits__supporters__new' %>
<% end %>

<div class='container'>
	<div class='u-centered'>
		<h1>Volunteer Signup</h1>
		<h3><%= @nonprofit.name %></h3>
		<div>
			<section class='modal-body'>
				<form class='supporterForm u-width--half u-margin--auto'>
					<!--= on 'submit' (ajax.create supporter form_object) -->

					<%= render 'supporters/form_blank', require_name: true, require_email: true %>
						<!-- REMOVE ME ASAP - HARDCODED LINK -->
						<input type='checkbox' id='check-agree-terms' checked='checked'>

						<label for='check-agree-terms'>I accept the terms of the <a href='https://drive.google.com/file/d/0ByUzb8T-kxp4b1FBSG5UcWlOMTA/view' target='_blank'>Volunteer Agreement</a></label>

					<%= render 'components/forms/submit_button' %>
				</form>
			</section>
		</div>
	</div>
</div>
