<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<p>Dear <%= @nonprofit.name %>,</p>

<p>We submitted your verification data, but our payment processor came back to us saying that they weren't able to verify your info. This usually happens because the name or birthdate provided in the form doesn't match your Social Security entry exactly. There is still hope, however! If you return to the <a href='<%= root_url + "/nonprofits/#{@nonprofit.id}/payouts" %>'>Payouts Page</a>, you can try one of two solutions:</p>

<ol>
  <li>Securely enter your full Social Security number -- this almost always resolves any verification issues.</li>
  <li>Re-enter the information on the basic form -- you can re-enter your own information or use info from another account holder.</li>
</ol>

<p><strong><a href='<%= root_url + "/nonprofits/#{@nonprofit.id}/payouts" %>'>Visit your payouts page to get everything sorted out.</a></strong></p>

<p>As always, if you have any questions, please send us a note at <%= Houdini.hoster.support_email %></p>

<%= render 'emails/sig' %>

