<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<p>
Congratulations on receiving your first transaction on <%= Settings.general.name %>!
</p>
<br>
<p>
Whenever you receive money on <%= Settings.general.name %>, it will go into your account’s balance. Payouts are made to your organization’s bank account automatically at the beginning of each month, or at any time with the click of a button.
</p>
<% unless @nonprofit.bank_account&.allows_payout? %>
<br>
<p>
<strong>Before you can make a payout</strong>, you need to connect your organization's bank account for withdrawals, allowing money to transfer from your account balance on <%= Settings.general.name %> directly to your organization.
</p>

<br>
<p> You can connect your bank account on this page: </p>

<br>
<h4> 
  <% url = nonprofits_payouts_url(@nonprofit) %>
  <a href="<%= url %>"> <%= url %> </a>
</h4>
<br>
<% end %>
<% unless @nonprofit.stripe_account&.payouts_enabled -%>
<p>Stripe is requested additional verification before funds can be paid out. You can access your secure verification form here: <%= link_to url, url %>.</p> 
<% end -%>

<p>If you’d like to schedule a free strategy session or web audit for fundraising tips and best practices, please send us an email at support@commitchange.com. In addition to our online <a href="https://help.commitchange.com/">help center</a>, we also offer free online training to all of our nonprofits. </p>
<%= render 'emails/sig' %>
