<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>
<p>Your payout, issued on <%= Format::Date.simple @payout.created_at %> has been successfully completed.</p>

<%= render 'payout_table', payout: @payout %>

<p>Look for the deposit with in the above net amount with <strong><%= Houdini.hoster.support_email %></strong> in the statement.</p>

<p><%= link_to 'Visit this link', nonprofits_payouts_url(@nonprofit) %> to view your detailed payout history.</p><br>

<p><strong>If anything looks incorrect</strong>, please contact <a href='mailto:<%= Houdini.hoster.support_email %>'><%= Houdini.hoster.support_email %></a>.</p>

<%= render 'emails/sig' %>

