<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<p>Your payout, issued on <%= Format::Date.simple @payout.created_at %> has been successfully completed.</p>

<%= render 'payout_table', payout: @payout %>

<p>Look for the deposit with in the above net amount with <strong><%= Settings.devise.mailer_sender %></strong> in the statement.</p>

<p><%= link_to 'Visit this link', nonprofits_payouts_url(@nonprofit) %> to view your detailed payout history.</p><br>

<p><strong>If anything looks incorrect</strong>, please contact <a href='mailto:<%= Settings.devise.mailer_sender %>'><%= Settings.devise.mailer_sender %></a>.</p>

<%= render 'emails/sig' %>

