<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div class='modal' id='identityVerificationModal'>
	<%= render 'common/modal_header', title: 'Identity Verification' %>
	<div class='modal-body'>

		<p>Please complete this form to verify your identity. This information serves
		as an extra security measure to prevent fraud, and is required by Stripe (our payment processor).</p>

    <p>You can find out more about Stripe's identity verification process <a href='https://stripe.com/docs/connect/identity-verification' target='_blank'>here</a>.</p> 

		<p>All information submitted through this form is 256-bit SSL encrypted.</p>

		<form parsley-validate on-submit='submit_identity_verification'>
			<!--= on 'submit' (verify_identity form_object) -->

			<hr>
			<h6>Organization Info for <%= @nonprofit.name %></h6>

			<div>
				<fieldset class='col-6 '>
					<label>Organization Address</label>
					<input type='text' name='address.line1' required parsley-trigger='change' value='<%=@nonprofit.address%>'>
				</fieldset>

				<fieldset class='col-right-6 '>
					<label>City</label>
					<input type='text' name='address.city' required parsley-trigger='change' value='<%=@nonprofit.city%>'>
				</fieldset>
			</div>

			<div>
				<fieldset class='col-6 '>
					<label>State</label>
					<%= render 'common/states_dropdown', default: @nonprofit.state_code, name: 'address.state' %>
				</fieldset>

				<fieldset class='col-right-6 '>
					<label>Postal code</label>
					<input type='text' name='address.postal_code' required parsley-trigger='change' value='<%=@nonprofit.zip_code=%>'>
				</fieldset>
			</div>

			<div>
				<fieldset class='col-12 '>
					<label>EIN (Business Tax ID) of Organization (9 digits)</label>
					<input type='text' name='business_tax_id' required parsley-trigger='change' value='<%=@nonprofit.ein%>'>
				</fieldset>
			</div>

			<hr>

			<h6>Your Info</h6>

			<div>
				<fieldset class='col-6 '>
					<label>First name</label>
					<input type='text' name='first_name' required parsley-trigger='change'>
				</fieldset>

				<fieldset class='col-right-6 '>
					<label>Last Name</label>
					<input type='text' name='last_name' required parsley-trigger='change'>
				</fieldset>
			</div>

			<div>
				<fieldset class='col-6 '>
					<label>Date of birth</label>

					<select name='dob.month' style='width:34%' required>
						<option disabled selected>Month</option>
						<%(1..12).each do |d| %>
							<option value=<%=d%>><%=d%></option>
						<% end %>
					</select>
					<strong>/</strong>
					<select name='dob.day' style='width:26%' required>
						<option disabled selected>Day</option>
						<%(1..31).each do |d| %>
							<option value=<%=d%>><%=d%></option>
						<% end %>
					</select>
					<strong>/</strong>
					<select name='dob.year' style='width:28%' required>
						<option disabled selected>Year</option>
						<%(1900..2000).each do |d| %>
							<option value=<%=d%>><%=d%></option>
						<% end %>
					</select>
				</fieldset>

				<fieldset class='col-right-6 '>
					<!-- pikaday -->
					<label>Last 4 of social security number</label>
					<input parsley-type='number' type='text' name='ssn_last_4' parsley-trigger='change' required>
				</fieldset>
			</div>

			<hr>

			<p class='finePrint u-centered'>By clicking "Submit", you agree to <a target='_blank' href='https://stripe.com/connect/account-terms'>Stripe's Connected Account Agreement.</a></p>

			<%= render 'components/forms/submit_button', button_text: 'Submit', scope: 'identity_verification' %>
		</form>
	</div>
</div>
