<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<section class='admin-topNav tour-admin'>
  <div class='container u-centered'>

  <p><strong><%= t('nonprofits.page.admin_top_nav.manage_profile') %></strong></p>

	<a class='button--small edit'>
		<!--= on 'click' (open_modal 'settingsModal') -->
		<i class='fa fa-gear'></i> <%= t('nonprofits.page.admin_top_nav.settings') %>
	</a>


  <a class='button--small edit'>
    <!--= on 'click' (open_modal 'uploadBackgroundImage') -->
    <i class='fa fa-image'></i> <%= t('nonprofits.page.admin_top_nav.header_image') %>
  </a>

  <a class='button--small edit'>
    <!--= on 'click' (open_modal 'uploadCarouselImages') -->
    <i class='fa fa-image'></i> <%= t('nonprofits.page.admin_top_nav.main_image') %>
  </a>

  <a class='button--tiny edit' href='?preview=t'>
    <i class='fa fa-eye'></i> <%= t('nonprofits.page.admin_top_nav.preview_mode') %>
  </a>

  <% if current_role?(:super_admin) %>
    <p><i class='icon icon-pacman-ghost'></i> <%= t('nonprofits.page.admin_top_nav.for_super_admin') %>:
      NPO ID: <%= @nonprofit.id %>
    </p>
  <% end %>

  </div>
</section>
