<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<div class='modal skinny' id='newNonprofitModal'>
	<%= render 'common/modal_header', title: 'Register Your Organization' %>

	<div class='modal-body'>
    
    <form parsley-validate>
			<!--= on 'submit' (create_admin_and_nonprofit form_object) -->
			<input type='text' name='name' placeholder='Organization name' required parsley-trigger='change'>
      <select>
        <!--= show_if is_onboarding_with_trial -->
        <!--= set_attr_if is_onboarding_with_trial 'name' 'tier' -->
        <!--= set_attr_if is_onboarding_with_trial 'required' '' -->
        <option value='' selected>Organization Budget</option>
        <option value='1'>less than $250K</option>
        <option value='2'>$250K ~ $5M</option>
        <option value='3'>$5M+</option>
      </select>

			<input type='text' name='city' placeholder='City' required parsley-trigger='change' class='input--half'>
			<input type='hidden' name='referrer' value="<%= params[:referrer] %>">

			<select name='state_code' class='input--half u-floatR' required>
				<option value='' selected>State</option>
				<% us_states.each do |state| %>
					<option value='<%= state[1] %>'><%= state[1] %></option>
				<% end %>
			</select>

			<input type='text' name='website' parsley-trigger='change' placeholder='Nonprofit website'>

			<%= render 'components/forms/submit_button', button_text: 'Create', scope: 'new_nonprofit' %>
		</form>

		<p class='finePrint u-marginTop--20 u-marginBottom--0 u-centered'>By clicking Create, you agree to our <%= link_to "terms of service & privacy policy", (root_url + "help/terms-of-service-and-privacy-policy"), target: :blank %></p>
	</div>
</div>
