<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<div class='pageTabs'>
	<a href='<%= nonprofits_payouts_path(@nonprofit) %>'
		class='tour-payouts <%= active == :payouts && 'is-active' %>'>
		Payouts
	</a>
	<a href='<%= nonprofits_recurring_donations_path(@nonprofit) %>'
		class='<%= active == :recurring && 'is-active' %> lockedFeature'>
		Recurring
	</a>
	<a href='<%= nonprofits_charges_path(@nonprofit) %>'
	class='<%= active == :payments && 'is-active' %>'>
		History
	</a>
</div>
