<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<% content_for(:dont_track_ga) {'true'} %>
<% content_for(:hide_nav_beacon) {'true'} %>

<% content_for(:title) {"Donate to #{@nonprofit.name }"} %>



<% content_for :javascripts do %>
  <%= javascript_packs_with_chunks_tag 'i18n', 'page__nonprofits__donate' %>
  <script>
    app.referer_url = "<%= @referer %>"
    app.campaign = <%= raw (@campaign || {}).to_json %>
    app.currency_symbol = "<%= @nonprofit.currency_symbol %>"
    app.utmParams = {
      utm_campaign: "<%= params[:utm_campaign] %>",
      utm_content: "<%= params[:utm_content] %>",
      utm_medium: "<%= params[:utm_medium] %>",
      utm_source: "<%= params[:utm_source] %>"
    }
    app.iframeParams = document.location.search
    app.countriesList = <%= raw (@countries_translations).to_json %>
    app.show_state_field = <%= Houdini.show_state_field %>
    I18n.defaultLocale = "<%=  I18n.default_locale %>"
    I18n.locale = "<%=  I18n.locale %>"
  </script>
<% end %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag 'nonprofits/donate/page' %>
<% end %>

<%= content_for :facebook_tags do %>
	<meta property='og:title' content='I support <%= @nonprofit.name %>!'>
	<meta property='og:description' content='<%= @nonprofit.summary %>'>
	<meta property='og:image' content='<%= @nonprofit.main_image.attached? ? rails_storage_proxy_url(@nonprofit.main_image_by_size(:nonprofit_carousel)) : "" %>'>
<% end %>

<%= content_for :twitter_tags do %>
	<meta property="twitter:title" content="I support <%= raw @nonprofit.name %>!">
	<meta property="twitter:description" content="<%= raw @nonprofit.summary %>">
	<meta property="twitter:image" content="<%= @nonprofit.main_image.attached? ? rails_storage_proxy_url(@nonprofit.main_image_by_size(:nonprofit_carousel)) : "" %>" />
<% end %>

<% content_for :body_id do %>donate<% end %>


  <div class='donate-popup donationWizard'>
    <div class='js-donateForm'> </div>
  </div>
<%= render 'layouts/javascripts' %>
<%= yield :javascripts %>