<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- partial start: campaigns/fixed_top_actions -->
<div class='fixedTopAction fixedTopAction--campaign' <%= current_campaign_editor? ? "style='padding-left: 60px'".html_safe : "" %>>
	<div class='container'>
		<table class='fixedTopAction-table'>
			<tr>
				<td class='fixedTopAction-left'>
					<h1 class='fixedTopAction-title'><%= @campaign.name %></h1><br>
					<span class='fixedTopAction-metrics'>
						<a if-branded='color, darker' href='<%= @nonprofit.url %>'> <%= @nonprofit.name %></a>
						<span class='u-capitalize'><%= Format::Address.city_and_state(@nonprofit.city, @nonprofit.state_code) %></span>

						<span>
							<!--= show_if campaign_time_remaining  -->
							<!--= put campaign_time_remaining --> left
						</span>

					</span>
				</td>

				<td class='fixedTopAction-right'>
					<% if !@campaign.hide_thermometer %>
						<div class='fixedTopAction-hideWhenMobile progressBar--medium'>
              <%= render 'campaign_progress_bar_inner', selector: 'u-width--full' %>
						</div>
					<% end %>

					<a class='u-marginRight--10 fixedTopAction-promote' title='Promote' if-branded='color, darker'>
						<!--= on 'click' (open_modal 'shareModal') -->
						Promote</a>
					<button class='button' id='js-contribute' title='Contribute' if-branded='background, dark'>
						Contribute
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>
<!-- partial end: campaigns/fixed_top_actions -->
