<!-- partial campaigns/new-modal -->
<!-- include 'campaigns/new/index' -->

<div class='modal' id='newPeerToPeerCampaign'>

	<%= render 'common/modal_header', title: @parent_campaign.name %>

	<div class='wizard-steps' style='display:none;'>
		<!--= wizard.init 'new_p2p_campaign_wiz' -->

	<%= render 'components/wizard/step_index', wizard_name: 'new_p2p_campaign_wiz' %>

	<div class='modal-body' style='display: table;'>

		<div class='wizard-step reason-step'>
			<!--= wizard.set_step 'new_p2p_campaign_wiz' '<%= t('campaigns.admin.about_you')%>' -->

			<form parsley-validate>
					<!--= on 'submit' (def 'new_p2p_campaign' form_object) (wizard.advance 'new_p2p_campaign_wiz') -->
				<input type='hidden' name='campaign[profile_id]' value='<%= current_user.profile.id %>'>
				<input type='hidden' name='campaign[parent_campaign_id]' value='<%= @parent_campaign.id %>'>
        <p><%= t('campaigns.admin.peer_to_peer_personalize_suggestions')%></p>

        <div class='layout--three'>
          <fieldset>
            <label><%= t('users.name_label') %></label>
						<%= text_field_tag 'profile[name]', @profile.name, placeholder: t('users.name_placeholder'), required: true -%>
          </fieldset>

          <fieldset>
            <label><%= t('users.city_label') %></label>
						<%= text_field_tag 'profile[city]', @profile.city, placeholder: t('users.city_placeholder')-%>
          </fieldset>

          <fieldset>
            <label>State</label>
            <%= render 'common/states_dropdown', name: 'profile[state_code]', default: @profile.state_code %>
          </fieldset>
        </div>

				<%= render 'components/forms/submit_button', button_text: t('ui.next'), scope: 'new_p2p_campaign_wiz', branded: true %>
			</form>
		</div>

			<div class='wizard-step amount-step'>
				<!--= wizard.set_step 'new_p2p_campaign_wiz' 'Customize' -->

				<form parsley-validate>
				<!--= on 'submit' create_p2p_campaign -->
				<!--= log new_p2p_campaign -->

          <div class='u-margin--auto'>
            <fieldset class='col-right-12'>
              <label><%= t('campaigns.admin.reason_for_supporting_label', campaign_name: @parent_campaign.name)%></label>
              <p><%= t('campaigns.admin.your_passion_is_contagious') %></p>

              <textarea class='u-marginTop--15' rows='4' name='campaign[reason_for_supporting]' required><%= @parent_campaign.default_reason_for_supporting %></textarea>
            </fieldset>

						<fieldset class='group u-marginBottom--0'>
							<label class='u-paddingTop--5'><%= t('campaigns.admin.goal_amount_label') %></label>
							<div class='prepend--dollar'>
								<input class='input--100 u-marginBottom--5' value='1000' type='number' name='campaign[goal_amount_dollars]' required min='1'>
							</div>
						</fieldset>

					</div>

          <%= render 'components/forms/submit_button', button_text: t('campaigns.admin.preview_campaign!'), scope: 'new_p2p_campaign_wiz', branded: true %>
				</form>
			</div>

		</div>
	</div>
</div>

<!-- end partial campaigns/new-modal -->
