<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/master/LICENSE -%>

<p>
	<a href='<%= Format::Url.concat(root_url, nonprofit.url) %>'><%= nonprofit.name %></a><br>
	<%= nonprofit.email %><br>
	<%= nonprofit.phone %><br>
	<%= Format::Address.city_and_state(nonprofit.city, nonprofit.state_code) %>
</p>
