<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- "partial: common/email_share_modal" -->
<!-- "fundraiser = Event, Campaign, or Nonprofit name" -->

<div class='modal' id='shareEmail'>
	<%= render 'common/modal_header', title: 'Share with friends' %>

	<div class='modal-body'>
		<form autosubmit parsley-validate method='post' action='/emails.json' data-reload>
				
			<div class='field'>
				<label if-branded='color, grey'>Emails <small>(separate each address with a comma)</small></label>
				<input type='text' name='email[to_email]' placeholder='john_doe@example.com, jane_doe@example.com' required>
			</div>

			<div class='field'>
				<label if-branded='color, grey'>Subject</label>
				<input type='text' name='email[subject]' value='<%= fundraiser %>'>
			</div>

			<div class='field'>
				<label if-branded='color, grey'>Your Message</label>
				<textarea type='text' name='email[message]' style="height:100px;">Join me and donate to <%= fundraiser %>. <%= fundraiser_url %></textarea>
			</div>

			<input type='hidden' name='email[from_email]' value='<%= current_user && current_user.email %>'>

			<p class='error'></p>
			<%= render 'components/forms/submit_button', button_text: 'Submit', loading_text: 'Sending...', branded: true %>
		</form>
	</div>
</div>
<!-- "end partial: common/email_share_modal" -->
