<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!-- Load up polyfill service -->
<script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>

<%= render 'layouts/app_data' %>

<script src="https://js.stripe.com/v3/"></script>
<script>
var stripeV3 = Stripe("<%= Settings.payment_provider.stripe_public_key %>", {apiVersion: '2020-08-27'});
window._csrf = "<%= form_authenticity_token %>";
</script>

<%= IncludeAsset.js "/client/js/page.js" %>
<%= IncludeAsset.js '/client/js/i18n.js' %>
<script>
    I18n.defaultLocale = "<%= I18n.default_locale %>"
    I18n.locale = "<%= I18n.locale %>"
</script>
<%= yield :javascripts %>
<span data-parsley-namespace='parsley-'></span>
<% if current_role?([:nonprofit_associate, :nonprofit_admin, :super_admin]) && yield(:hide_nav_beacon) != 'true' %>
  <%= render 'layouts/nav_beacon' %>
<% end %>
