<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>

<%= render 'layouts/app_data' %>
<% if Houdini.payment_providers.stripe.proprietary_v2_js %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<% else %>
  <%= javascript_packs_with_chunks_tag "page__stripe_wrapper" %>
<% end %>

<script>
Stripe.setPublishableKey("<%= Houdini.payment_providers.stripe.public_key %>");
window._csrf = "<%= form_authenticity_token %>";
</script>



<%= yield :javascripts %>


<script>
    I18n = I18n || {}
    I18n.defaultLocale = "<%= I18n.default_locale %>"
    I18n.locale = "<%= I18n.locale %>"
</script>

<span data-parsley-namespace='parsley-'></span>


<% if current_role?([:nonprofit_associate, :nonprofit_admin, :super_admin]) && yield(:hide_nav_beacon) != 'true' %>

  <%= render 'layouts/nav_beacon' %>


<% end %>
