<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<% title = "We help organizations raise more money, more sustainably." %>

<% description = "Robust and user-friendly nonprofit fundraising tools. Campaigns, donor management, donation processing and event ticketing." %>

<title><%= yield :title_prefix %><%= Settings.general.name %> <%= content_for?(:title_suffix) ? yield(:title_suffix) : "| #{title}" %>
</title>

<% if content_for?(:meta_description) %>
  <meta name="description" content="<%= yield :meta_description %>" />
<% else %>
  <meta name="description" content="<%= description %>"/>
<% end %>

<meta property="fb:app_id" content="<%= ENV.fetch('FACEBOOK_APP_ID') %>" />
<meta property="og:site_name" content="<%=Settings.general.name%>" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:type" content="website" />

<% if content_for?(:facebook_tags) %>
  <%= yield :facebook_tags %>
<% else %>
  <meta property="og:title" content="<%=Settings.general.name%> | <%= title %>"/>
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= Image::DefaultProfileUrl %>" />
<% end %>

<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@CommitChange" />

<% if content_for?(:twitter_tags) %>
  <%= yield :twitter_tags %>
<% else %>
  <meta property="twitter:title" content="<%=Settings.general.name%> | <%= title %>">
  <meta property="twitter:description" content="<%= description %>"/>
<% end %>

<% if ENV["LOAD_MATOMO"] %>
<% if Rails.env == 'development' || Rails.env == 'staging '%>
<!-- Matomo Tag Manager -->
<script type="text/javascript">
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.src='https://cdn.matomo.cloud/commitchange.matomo.cloud/container_y1KA81rJ_dev_9e5d5c70e9b70373dc1190a3.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->

<% elsif Rails.env == 'production' %>
<!-- Matomo Tag Manager -->
<script type="text/javascript">
var _mtm = window._mtm = window._mtm || [];
_mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
g.type='text/javascript'; g.async=true; g.src='https://cdn.matomo.cloud/commitchange.matomo.cloud/container_y1KA81rJ.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->
<script defer data-domain="commitchange.com" src="https://plausible.io/js/plausible.js"></script>
<% end %>
<% end %>
<%= yield :recaptcha_js %>


<%= csrf_meta_tags %>
<%= favicon_link_tag %>

