<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!doctype html>

<html lang="<%= I18n.locale %>">
<head>
  <meta name="google-site-verification" content="zBV5-Ac5Gsi8g0f1GXAAtsZJpwE2E52hsthk42moZ3k" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= "#{yield(:title)} - #{Settings.general.name}" %></title>
  <%= IncludeAsset.js '/client/js/i18n.js' %>
  <script>
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale %>"
      window._csrf = "<%= form_authenticity_token %>"
  </script>


  <%= render 'layouts/stylesheets' %>
  <%= IncludeAsset.css '/client/css/global/page.css' %>
  <%= IncludeAsset.css '/client/css/bootstrap.css' %>
  <%= favicon_link_tag %>

  <style>
    body {padding-left: 0}
  </style>
</head>
<body class="<%= @theme == 'minimal' ? 'minimal' : nil %>">
<%= render 'layouts/apified_header' %>
<%= IncludeAsset.js '/app/loading_indicator.js' %>
<%= IncludeAsset.js '/app/react.js' %>
<%= IncludeAsset.js '/app/react-dom.js' %>
<%= IncludeAsset.js '/app/vendor.js' %>
<%= yield :javascripts %>
<div class="site-content" role="main">
  <%= yield %>
</div>
<%= render 'layouts/apified_footer' %>

</body>
</html>