<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!doctype html>

<html lang="<%= I18n.locale %>">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= "#{yield(:title)} - #{Houdini.general.name}" %></title>
  <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,Intl.~locale.en"></script>
  <script>
      window.I18n = {}
      I18n.defaultLocale = "<%= I18n.default_locale %>"
      I18n.locale = "<%= I18n.locale %>"
      window._csrf = "<%= form_authenticity_token %>"
  </script>


  <%= render 'layouts/stylesheets' %>
  <%= favicon_link_tag %>

  <style>
    body {padding-left: 0}
  </style>
</head>
<body class="<%= @theme == 'minimal' ? 'minimal' : nil %>">
<%= render 'layouts/apified_header' %>
<%= yield :javascripts %>
<div class="site-content" role="main">
  <%= yield %>
</div>
<%= render 'layouts/apified_footer' %>

</body>
</html>