<%- # License: AGPL-3.0-or-later WITH WTO-AP-3.0-or-later
# Full license explanation at https://github.com/houdiniproject/houdini/blob/main/LICENSE -%>
<!DOCTYPE html>
<html>
<head>

	<title><%= yield(:title) || "Donate with #{Houdini.general.name}" %></title>

	<%= render 'layouts/stylesheets' %>
  <%= yield :stylesheets %>

	<%= favicon_link_tag %>
	<%= csrf_meta_tags %>
	<meta name="Description" content="Intelligent fundraising for nonprofits.">



</head>

<body id='<%= yield :body_id %>' class='embedded-layout'>
<%= yield %>

<%= render 'layouts/javascripts' %>


</body>

</html>
