<%- # License: AGPL-3.0-or-later WITH Web-Template-Output-Additional-Permission-3.0-or-later -%>
<!DOCTYPE html>
<html>
<head>

	<title><%= yield(:title) || "Donate with #{Settings.general.name}" %></title>

	<%= render 'layouts/stylesheets' %>
	<%= yield :recaptcha_js %>
	<%= favicon_link_tag %>
	<meta name="Description" content="Intelligent fundraising for nonprofits.">

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body id='<%= yield :body_id %>' class='embedded-layout'>
<%= yield %>

<%= render 'layouts/javascripts' %>


</body>

</html>
